{% extends "layout.html" %}

{% set pageId = "bg-home-page" %}

    {% block styles %}
        <link rel="stylesheet" href="assets/css/home.css">
        <link rel="stylesheet" href="assets/css/modal.css">
    {% endblock styles %}

    {# <div id="bg-home-page"> #}
        {% block content %}

        <header class="header" id="header">
            <img src="assets/icons/logo.svg" alt="logo do ecoleta">
            <a href="/create-point"> <span></span> Cadastre um ponto de coleta</a>
        </header>

        <div class="home__content">
            <main class="main">
                <h1>Seu Marketplace de coleta de resíduos</h1>

                <p>Ajudamos pessoas a entrarem pontos de coleta de forma eficiente</p>

                <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>
            </main>
        </div>

        {% endblock content %}

    {# </div> #}
    
    {% block modal %}
        {% include "partials/modal.html" %}
    {% endblock modal %}

    {% block scripts %}
        <script src="assets/js/index.js"></script>
    {% endblock scripts %}
